@page "{id}"
@model BlogPhone.Pages.admin.userChangeModel
@{
    ViewData["Title"] = "Изменить пользователя";
}

<h1>Изменение личного кабинета пользователя</h1>
<hr />

<form method="post" asp-antiforgery="true">
    <label>ID</label>
    <input disabled type="number" style="margin:5px" value="@Model.SiteUser!.Id" />
    <br />

    <label>Name</label>
    <input type="text" style="margin:5px" required name="name" value="@Model.SiteUser!.Name" />
    <br />

    <label>Password</label>
    <input type="text" style="margin:5px" required name="password" value="@Model.SiteUser!.Password" />
    <br />

    <label>Email</label>
    <input type="email" style="margin:5px" required name="email" value="@Model.SiteUser!.Email" />
    <br />

    <label>Money</label>
    <input type="number" style="margin:5px" required name="money" value="@Model.SiteUser!.Money" />
    <br />

    <label>Role</label>
    <select style="margin:5px" name="role" required>
        @if (@Model.SiteUser!.Role == "user") 
        { 
            <option selected value="user">user</option> 
        }
        else 
        { 
            <option value="user">user</option> 
        }
        @if (@Model.SiteUser!.Role == "standart") 
        { 
            <option selected value="standart">standart</option> 
        }
        else 
        { 
            <option value="standart">standart</option> 
        }
        @if (@Model.SiteUser!.Role == "moder") 
        { 
            <option selected value="moder">moder</option> 
        }
        else 
        { 
            <option value="moder">moder</option> 
        }
        @if (@Model.SiteUser!.Role == "admin") 
        { 
            <option selected value="admin">admin</option> 
        }
        else 
        { 
            <option value="admin">admin</option> 
        }
    </select>
    <br />

   @if(!@AccessChecker.BanCheck(@Model.SiteUser!.BanDate))
    {
        <p>
            <a asp-page="userChange" asp-page-handler="Unban" style="color:indianred">Разблокировать аккаунт</a>
        </p>
    }

    <button type="submit">Сохранить</button>
</form>